@charset "utf-8";

/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* その他のスタイルは以下に記述していきます */
.header {
  height: 70px;
  background: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav ul{
  display: flex;
}

.header-nav li {
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a {
  color: #f2f2f2;
}
#eyecatch {
  height: 800px;
  background: url(../img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.copy h5{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-style: italic;
  font-family: Times New Roman, "ＭＳ Ｐゴシック";
  font-weight: bold;
  color: #FFFF;
  line-height: 1; 
}
.news-title1 p{
  display: flex;
  float:right;
  width: auto;
  height: 2em;
  margin: 0px; auto;
  background-color: #FFF;
  background-size:  auto 150px;
  color: #000;
}
.news-title2 p{
  display: flex;
  float: right;
  width: auto;
  height: 2em;
  margin: 0px auto ;
  background-color: #000;
  background-size: cover;
  color: #FFF;
}

#about {
  width:80%
  margin:0 auto: 50px;
  background-color: #000;
  background-size:cover
}
.about-right {
  display: flex;
  justify-content: flex-end;
}
.section-title h2 {
  font-size: 20px;
  color: #fff
  

}
 p{
  font-size: 15px;
  color:#FFF
}

.about-right{
  width:45%;
}
.about-right img{
  display: block;
  width: 50%
}
.about-left ol{
  list-style-position: inside;
}
#service {/*service*/
  background: rgb(241, 241, 241);
}
.section-title  {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 40px 0;
  margin: 0;
}
.card1{
  width: 300px;
  padding: 20px 12px 10px; /* 上20px 左右12px 下10px */
  color: #333;
  border: 1px solid #e9eaea; /* ボックスの周囲に線を引きます */
  border-radius: 3px;
  transition: 0.3s;
  background-color: #FFF;
}

.title,
.text1,
.text2
{
  margin: 0;
}

.text1 {
  padding: 10px 0;
  font-size: 14px;
  color: #000;
}
.text2{
  padding: 10px 0;
  font-size: 14px;
  color: #000;
}
.link {
  display: block; /* aタグはinline要素なのでblock要素にしてwidthを持たせます */
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
  color: #000;
  border: 1px soloid #000;
} 
.card2{
  width: 300px;
  padding: 20px 12px 10px; /* 上20px 左右12px 下10px */
  color: #333;
  border: 1px solid #e9eaea; /* ボックスの周囲に線を引きます */
  border-radius: 3px;
  transition: 0.3s;
  background-color: #FFF;
}

.title2,
.text3,
.text4
{
  margin: 0;
}

.text3 {
  padding: 10px 0;
  font-size: 14px;
  color: #000;
}
.text4{
  padding: 10px 0;
  font-size: 14px;
  color: #000;
}
.link {
  padding: 5px 20px; /* 上下に5px、左右に20px */
  font-size: 14px;
  color: #000;
  text-decoration: none; /* テキストのスタイルを消す */
  border: 1px #000 solid; /* 境界線を引く */
  border-radius: 3px; /* 要素の角を丸くする */
  transition: 0.4s ease; /* スタイルが変化する時間 */
}

.link:hover {
  color: #fff;
  background: #d7ba7b;
}
.service-right img{
  display: block;
  width: 30%;
  position: relative;
}
.service-left img{
  display: block;
  width: 30%;
  position: relative;
}
/*compayy*/
#company{
  background-color: #FFF;
  background-size:cover ;
}
.company-wrap{
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company-cat{
  position: relative;
}
.company-cat h1{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  color:#fff;
}
.company-cat p{
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  color:#fff; 
}
.company-cat img{
  width:180%;
}
.recruit-wrap{
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recruit-cat{
 position: relative; 
}
.recruit-cat h1{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  color:#fff; 
}
.recruit-cat p{
 position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  color:#fff;  
}
.recruit-cat img{
  width: 30%;
}
